# DATA STUCTURE

1.  Lakukan 4 operasi aritmatika (+, -, x, /) dengan dua nilai 10 dan 2, lalu simpan semua hasilnya didalam list dan tampilkan.

    Output : [12, 8, 20, 5]

<center>
<img src="Flow Chart Tugas 2 Soal 1.png" alt="Flow Chart"/>
</center>

In [10]:
# Jawab soal 1 disini!

Num_1 = 10
Num_2 = 2
Hasil = [Num_1 + Num_2, Num_1 - Num_2, Num_1 * Num_2, Num_1 // Num_2]

print(Hasil)

[12, 8, 20, 5]

2. Dengan menggunakan **"index"**, keluarkan nilai dari dua tuple di bawah

        a. ('Budi', 'Rani', 'Indah', 'Ilham')
        b. (20, 18, 22, 27)

   untuk menghasilkan kalimat **"Rani adalah mahasiswi yang berusia 22 Tahun."**

<center>
<img src="Flow Chart Tugas 2 Soal 2.png" alt="Flow Chart"/>
</center>

In [13]:
# Jawab soal 2 disini!
# Note : index dari kiri =  0, 1, 2, 3, 4, 5, dst!

a = ('Budi','Rani','Indah','Ilham')
b = (20, 18, 22, 27)

a1 = a[1] # ambil index ke 1 dari kiri di variabel a
b1 = b[2] # ambil index ke 2 dari kiri di variabel b

# Cara 1
print(a[1] + " adalah mahasiswa yang berusia " + str(b[2]) + " tahun")
# Cara 2
print(f'{a[1]} adalah mahasiswa yang berusia {str(b[2])} tahun')
# Cara 3
print(f'{a1} adalah mahasiswa yang berusia {b1} tahun')

Rani adalah mahasiswa yang berusia 22 tahun
Rani adalah mahasiswa yang berusia 22 tahun
Rani adalah mahasiswa yang berusia 22 tahun


3.  Data = {'Rudi' : 'Bandung', 'Nina' : 'Jakarta', 'Mia' : 'Semarang', 'Indah' : 'Bandung', 'Salman' : 'Surabaya', 'Mikail' : 'Jakarta'}

    Dari data dictionary tersebut, keluarkan valuenya tanpa ada pengulangan.

    Output : {'Bandung', 'Jakarta', 'Semarang', 'Surabaya'}

    Hint - Gunakan Set

<center>
<img src="Flow Chart Tugas 2 Soal 3.png" alt="Flow Chart"/>
</center>

In [17]:
# Jawab soal 3 disini!

Data = {
        "Rudi" : "Bandung",
        "Nina" : "Jakarta",
        "Mia" : "Semarang",
        "Indah" : "Bandung",
        "Salman" : "Surabaya",
        "Mikail" : "Jakarta"
}

x = Data.values()

print(set(x)) #set() digunakan agar tidak ada pengulangan value!

{'Bandung', 'Semarang', 'Jakarta', 'Surabaya'}

4.  a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]
    
    Dari data list diatas, lakukan metode slicing untuk mendapatkan output yang diharapkan!

    Output : ['13b', 'aa1', 1.32, 22.1]

<center>
<img src="Flow Chart Tugas 2 Soal 4.png" alt="Flow Chart"/>
</center>

In [29]:
# Jawab soal 4 disini!
# Note : index dari kanan : -1, -2, -3, -4, -5, dst!

a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]

print(a[1:-1]) #[Index mulai:Index akhir] -1 hapus index akhir dari kanan
print(a[1:5:1]) #[Index mulai : Index akhir : lompatan index]

['13b', 'aa1', 1.32, 22.1]
['13b', 'aa1', 1.32, 22.1]

5. Gabungkan kedua list di bawah ini!

    a = [1, 3, 5]

    b = [5, 1, 3]

    Output : [5, 1, 3, 1, 3, 5]

<center>
<img src="Flow Chart Tugas 2 Soal 5.png" alt="Flow Chart"/>
</center>

In [1]:
# Jawab soal 5 disini!

a = [1, 3, 5]
b = [5, 1, 3]

print(b+a)

[5, 1, 3, 1, 3, 5]

6.  areas = ["hallway", 11.25, "kitchen", 18.0,
            "chill zone", 20.0, "bedroom", 10.75,
            "bathroom", 10.50, "poolhouse", 24.5,
            "garage", 15.45]

    Lakukan perintah print dari data list diatas tanpa elemen yang bernilai "bathroom" dan 10.50!

    Output : ['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'poolhouse', 24.5, 'garage', 15.45]


...

<center>
<img src="Flow Chart Tugas 2 Soal 6.png" alt="Flow Chart"/>
</center>

In [4]:
# Jawab soal 6 disini!

areas = [
    "hallway", 11.25,
    "kitchen", 18.0,
    "chill zone", 20.0,
    "bedroom", 10.75,
    "bathroom", 10.50,
    "poolhouse", 24.5,
    "garage", 15.45
    ]

# Cara 1
del areas[8:10] # del variabel[Index mulai:Index akhir]

# Cara 2
# areas.remove('bathroom')
# areas.remove(10.50)

print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'poolhouse', 24.5, 'garage', 15.45]

7.  europe =    {

                'spain':'madrid',
                'france':'paris', 
                'germany':'bonn', 
                'norway':'oslo', 
                'italy':'rome',
                'poland':'warsaw',
                'australia':'vienna'
                }


    a. lakukan update nilai ibukota german ke berlin
    
    b. lakukan remove australia dari europa

<center>
<img src="Flow Chart Tugas 2 Soal 7.png" alt="Flow Chart"/>
</center>

In [8]:
# Jawab soal 7 disini!

europe = {
    "Spain" : "Madrid",
    "France" : "Paris",
    "Germany" : "Bonn",
    "Norway" : "Oslo",
    "Italy" : "Rome",
    "Poland" : "Warsaw",
    "Australia" : "Vienna"
    }

europe["Germany"] = "Berlin"
europe.pop("Australia")

print(europe)

{'Spain': 'Madrid', 'France': 'Paris', 'Germany': 'Berlin', 'Norway': 'Oslo', 'Italy': 'Rome', 'Poland': 'Warsaw'}

8.      a = [1, 4, 24, 53, 67, 45, 23, 4, 7, 8, 2, 9, 6, 10, 19, 20, 23, 13, 19]

        b = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

        Dari 2 data list diatas lakukan pencari nilai yang sama, lalu Print dalam bentuk list!

        Output : [1, 7, 9, 13, 19, 23]

<center>
<img src="Flow Chart Tugas 2 Soal 8.png" alt="Flow Chart"/>
</center>

In [26]:
# Jawab soal 8 disini!

a = [1, 4, 24, 53, 67, 45, 23, 4, 7, 8, 2, 9, 6, 10, 19, 20, 23, 13, 19]
b = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

# Cara 1
a1 = set(a)
b1 = set(b)
Hasil = a1.intersection(b1)

print(Hasil)

{1, 7, 9, 13, 19, 23}